<div class="header">Fakebook</div>

<div class="flex-container2">
  <div class="leftHeader">
    <div class="caption">Users</div>
    <button class="refreshButton" (click)="refresh()">
      <i class="material-icons ref-icons">refresh</i>
    </button>
  </div>
  <div class="rightHeader">
    <div class="caption">Posts</div>
    <button class="refreshButton" (click)="refresh()">
      <i class="material-icons ref-icons">refresh</i>
    </button>
  </div>
</div>


<div class="flex-container">
  <div class="flex-item-left">

    <div *ngFor="let user of userData" class="u-container">
      <div (click)="getUserDetails(user.id)" class="u-name">
        <i class="material-icons user">person</i>
        <span style="padding-left: 8px;">{{user.username}}</span>
      </div>
      <div class="u-uname">
        <i class="material-icons sub-icons">verified_user</i>&nbsp;{{user.name}}
      </div>
      <div class="u-email">
        <i class="material-icons sub-icons">email</i>&nbsp;{{user.email}}
      </div>
      <div class="u-phone"><i class="material-icons sub-icons">phone_iphone</i>&nbsp;{{user.phone}}</div>
      <div class="u-website"><i class="material-icons sub-icons">web</i>&nbsp;{{user.website}}&nbsp;
        
      </div>
      <hr>
    </div>
  </div>

  <div class="flex-item-right">
    <div *ngIf="userDetails != undefined" style="padding: 15px;">
      <div *ngFor="let details of userDetails">
        <h3>{{details.title}}</h3>
        <p>{{details.body}}</p>
        <hr>
      </div>
    </div>
  </div>
</div>